@font-face {
  font-family: 'Zelda';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Zelda.ttf') format('truetype');
}

@font-face {
  font-family: 'Monocraft';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Monocraft.otf') format('opentype');
}

* {
  box-sizing: border-box;
  font-family: Monocraft, Zelda, Courier, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}
