.footer-container {
  width: 100%;
  flex: 0 0 auto;
  padding: 12px;

  .footer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    color: #ae6dd5;
    img {
      width: 20px;
      height: 20px;
    }
    @media screen and (max-width: 968px) {
      gap: 5px;
      font-size: 12px;
    }
    .links {
      width: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }
}
