.header-container {
  padding: 48px 0;
  .header {
    font-size: 120px;
    color: rgb(255 205 0);
    text-shadow: 2px 0px 0px white, 9px 0px 0px #7f0077, 0px 0px 20px #00d6ff;
    font-family: Zelda, Monocraft, Courier, sans-serif;
  }
}
